	A.he1:link { color:#ffffff;font-weight:bold;font-family:sans-serif;font-size:13px;text-decoration:none }
	A.he1:visited { color:#ffffff;font-weight:bold;font-family:sans-serif;font-size:13px;text-decoration:none }
	A.he1:active { color:#ffffff;font-weight:bold;font-family:sans-serif;font-size:13px;text-decoration:none }
	A.he1:hover { color:#ffffff;font-weight:bold;font-family:sans-serif;font-size:13px;text-decoration:none }
	
	.txt_white { color:#ffffff;font-size:16px;font-family:sans-serif;font-weight:bold;margin-top:5px;margin-left:5px;}
	.txty_white { color:#000000;font-size:16px;font-family:sans-serif;font-weight:bold;margin-top:5px;margin-left:5px;}		
	.txt_orange { color:#990000;font-size:14px;font-family:sans-serif;font-weight:bold;margin-top:8px;margin-left:7px;}	
	.txt_pg_tit { color:#F47A15;font-size:14px;font-family:sans-serif;font-weight:bold;}	
	.txt_prd { color:#F47A15;font-size:16px;font-family:sans-serif;font-weight:bold;margin-left:3px;margin-top:7px;}	
	.txt_grey { color:#7E7D7B;font-size:15px;font-family:sans-serif;font-weight:bold;}	
	.txt_normal { color:#000000;font-size:11px;font-family:verdana;}	
	.txt_pg_normal { color:#000000;font-size:12px;font-family:sans-serif;}	
	.cls_left_mnu_cat_icon {font-size:18px;color:#F57915;font-weight:bold;margin-left:8px;}
	.cls_sub_mnu_cat_icon {font-size:12px;color:#F57915;font-weight:bold;margin-left:8px;}
	.cls_pipe { color:#000000;font-size:10px;font-family:sans-serif;font-weight:bold;}		

	A.he2:link { color:#424242;font-family:sans-serif;font-size:13px;text-decoration:none }
	A.he2:visited { color:#424242;font-family:sans-serif;font-size:13px;text-decoration:none }
	A.he2:active { color:#424242;font-family:sans-serif;font-size:13px;text-decoration:none }
	A.he2:hover { color:#F57915;font-family:sans-serif;font-size:13px;text-decoration:none }

	A.he3:link { color:#7E7D7B;font-family:sans-serif;font-size:14px;font-weight:bold;text-decoration:none }
	A.he3:visited { color:#7E7D7B;font-family:sans-serif;font-size:14px;font-weight:bold;text-decoration:none }
	A.he3:active { color:#7E7D7B;font-family:sans-serif;font-size:14px;font-weight:bold;text-decoration:none }
	A.he3:hover { color:#008000;font-family:sans-serif;font-size:14px;font-weight:bold;text-decoration:none }
	
	A.he4:link { color:#747474;font-family:verdana;font-size:11px;font-weight:bold;text-decoration:none }
	A.he4:visited { color:#747474;font-family:verdana;font-size:11px;font-weight:bold;text-decoration:none }
	A.he4:active { color:#747474;font-family:verdana;font-size:11px;font-weight:bold;text-decoration:none }
	A.he4:hover { color:#008000;font-family:verdana;font-size:11px;font-weight:bold;text-decoration:none }

	A.he5:link { color:#747474;font-family:verdana;font-size:11px;text-decoration:none }
	A.he5:visited { color:#747474;font-family:verdana;font-size:11px;text-decoration:none }
	A.he5:active { color:#747474;font-family:verdana;font-size:11px;text-decoration:none }
	A.he5:hover { color:#008000;font-family:verdana;font-size:11px;text-decoration:none }

	A.he6:link { color:#000000;font-family:verdana;font-size:11px;text-decoration:none }
	A.he6:visited { color:#000000;font-family:verdana;font-size:11px;text-decoration:none }
	A.he6:active { color:#000000;font-family:verdana;font-size:11px;text-decoration:none }
	A.he6:hover { color:#008000;font-family:verdana;font-size:11px;text-decoration:none }